<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center">
    <div class="logo me-auto">
      <h1><a href="">Trad'OR</a></h1>
    </div>

    <!-- <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto" href="#hero">Home</a></li>
        <li class="dropdown">
          <a href="#"><span>About</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a class="nav-link scrollto" href="#about">About Us</a></li>
            <li><a class="nav-link scrollto" href="#team">Team</a></li>
          </ul>
        </li>
        <li><a class="nav-link scrollto" href="#services">Services</a></li>
        <li><a class="nav-link scrollto" href="#pricing">Pricing</a></li>
        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav> -->
    <div class="header-social-links d-flex align-items-center">
      <a href={{socialLinks.facebook}} class="facebook"><i class="bi bi-facebook"></i></a>
      <a href={{socialLinks.instagram}} class="instagram"><i class="bi bi-instagram"></i></a>
      <a href={{socialLinks.linkedin}} class="linkedin"><i class="bi bi-linkedin"></i></a>
    </div>
  </div>
</header>
